* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

form{
	margin: 0 auto;
	width: fit-content;

	display: grid;
	grid-gap: 0.5rem 0;
	justify-content: center;
}

label {
	width: fit-content;
	justify-self: center;
}

input {
	width: fit-content;
	justify-self: center;
}

button {
	width: fit-content;
	justify-self: center;
}

#output {
	text-align: center;
	width: 100vw;
}